/* unvisited link */
a:link {
    color: red;
}
/* visited link */
a:visited {
  color: green;
}
  
/* mouse over link */
a:hover {
  color: hotpink;
}
  
/* selected link */
a:active {
  color: blue;
}

div:hover {
    background-color: blue;
    color: white;
    font-size: large;
    border: solid red;
    border-radius: 20px;
    padding: 20px;
}